<html>
   <body>

      <form action="{{ url_for('torips') }}" method="post">
         <p>Enter IP:</p>
         <p><input name = 'ip' required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$"></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

   </body>
</html>
